In [5]:
#1Unique Words in a Sentence
a=input('enter sentense').strip()
b=a.split()
c=set(b)

print(len(c))
print(c)

enter sentensehel hel my name is is pr pr
5
{'pr', 'hel', 'name', 'is', 'my'}

In [8]:
# 2. Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_name = None
highest_salary = -1

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_name = name

print(f"Highest Salary: {highest_name} - {highest_salary}")

Highest Salary: Ravi - 75000

In [9]:
# 3. Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for x in numbers:
    if x > max_val:
        max_val = x
    if x < min_val:
        min_val = x

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [10]:
# 4. Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [11]:
# 5. Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]

present_count = 0
for mark in attendance:
    if mark == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [12]:
# 6. Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [20]:
# 7. Count Character Frequency
text = "pythhon"
f={}
for i in text:
  f[i]=f.get(i,0)+1
print(f)

{'p': 1, 'y': 1, 't': 1, 'h': 2, 'o': 1, 'n': 1}

In [18]:
# 8. Convert List to Tuple
lst = [10, 20, 30]
t=tuple(lst)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [15]:
# 9. Check if a Key Exists in a Dictionary
employees = {"Ravi": 75000, "Anita": 68000}
key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [17]:
# 10. Calculate Average Marks
marks = [70, 75, 80, 65]

t=0
for i in marks:
  t+=i
print(t/(len(marks)))

72.5